.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.input-area {
  background-color: gray;
  width: 100%;
  height: 300px;
  cursor: pointer;
  user-select: none;
  touch-action: none;
}


.input-area.client-is-connected {
  background-color: rgb(122, 201, 135);
}

.input-area.network-error {
  background-color: rgb(250, 0, 54);
}

.input-area.pointer-is-captured {
  background-color: rgb(182, 233, 191);
}

.touch-screen-hint-logo {
  background-image: url("./assets/touch-screen_11331816.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;

}

.tab-view {
  /* margin: 5px; */
  background-color: blue;
}

.tab-view > .tab-view-header {
  display: block;
  background-color: #61dafb;
  
  display: flex;
}

.tab-view > .tab-view-header > .tab-header-element {
  font-size: 200%;
  padding: 5px;
}

.keyboard-input {
  /* position: fixed; */
  font-size: 200%;
  width: 100%;
  padding: 5px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}