.input-area {
	background-color: gray;
	width: 100%;
	height: 300px;
	cursor: pointer;
	user-select: none;
	touch-action: none;
}


.input-area.client-is-connected {
	/* background-color: rgb(122, 201, 135); */
}

.input-area.network-error {
	background-color: rgb(250, 0, 54);
}

.input-area.pointer-is-captured {
	/* background-color: rgb(182, 233, 191); */
}

.touch-screen-hint-logo {
	background-image: url("./assets/touch-screen_11331816.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;

}

.keyboard-input {
	/* position: fixed; */
	font-size: 200%;
	width: 100%;
	padding: 5px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
